#loader {
  background: url('../assets/images/loader.gif') no-repeat center;

  width: 100vw;
  height: 100vh;

  position: fixed;
  z-index: 100;

  &.fade {
    opacity: 0;
    transition: opacity 0.5s;
  }

  &.hide {
    display: none;
  }
}

.sprite {
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
  cursor: pointer;

  &.trainer {
    background-image: url('../assets/images/sprite.png');
  }

  &.pokemon {
    background-image: url('../assets/images/pokemon.png');
    width: 100px;
    height: 100px;
    background-size: 2500px;

    display: none;

    &.active {
      display: block;
    }

  }

}

#pokedex {
  background: url("../assets/images/pokedex.png") no-repeat center;
  position: fixed;
  background-size: 70px;
  top: 0;
  height: 100px;
  width: 100px;
}

#pokemonbox {
  display: none;

   position: fixed;
   top: 50%;
   left: 50%;

   transform: translateX(-50%) translateY(-50%);

   background-color: #C84544;

   height: 90%;
   width: 80%;

  border-radius: 5px;

    &.active {
      display: block;
    }

    #close {
      position: absolute;
      right: 10px;
      top: 5px;
      cursor: pointer;
    }

    #lens {

      display: flex;
      align-items: center;

      border-bottom: 10px solid #A43837;

    }

    .big-lens {

      width: 75px;
      height: 75px;

      border-radius: 50%;
      border: 3px solid #EEECEE;

      background-color: #589DBB;

      margin: 10px;

    }

    .little-lens {

        width: 25px;
        height: 25px;

        border-radius: 50%;

        margin: 5px;

      &.red {

        background-color: #A43837;

      }

      &.yellow {

        background-color: #C6BD1A;

      }

      &.green {

        background-color: #25A046;

      }

  }

  #list {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;

  }

  .pokemon-detail {
    color: #FFFFFF;
    text-align: center;
    width: 100px;
    height: auto;
    padding: 5px 0;
    background-color: #808080;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
  }

 }

#form-events {

  position: fixed;

  right: 5px;
  top: 5px;

}

#events {

  position: fixed;
  bottom: 30px;


  .event-wrap {
    display: flex;

    #event {

    background-image: url("../assets/images/pokemontype.png");
    background-size: 1500px;
    height: 105px;
    width: 90px;

    }

    .detail {
      background-color: #e6e4e0;
      padding: 10px;

    }

  }



}